<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Welcome | Home Page</title>
<!--  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">-->
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/main.js"></script>
</head>

<body>

<div class="heading-div">
  <h1>Golang web application sample project</h1>
  <h1>গোল্যাং ওয়েব এপ্লিকেশন স্যাম্পল প্রোজেক্ট</h1>
</div>

<div style="overflow:auto">
  <div class="menu">
    <a href="/contact">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
  </div>

  <div class="main">
    <h2>Lorum Ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
  </div>

  <div class="right">
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>
  </div>
</div>

<div class="footer-div">© copyright Golang Engineers</div>

</body>
</html>

